body {
    margin: 0;
    background-color: rgb(215, 246, 255);
}

/* Header */
header {
    background-color: rgb(17, 81, 100);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_content, h1, h2, p, h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav_content, h1 {
    color: white;
}

.nav_content {
    text-decoration: none;
}

.nav_content:hover {
    color: blueviolet;
}

/* Main */
.top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

h2 {
    font-size: 50px;
}

.disc {
    font-size: 20px;
}

h2, .disc, h3 {
    color: rgb(17, 81, 100);
}

.logo {
    width: 60%;
    height: 250px;
}

.container {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.block {
    width: 30%;
    height: 340px;
    padding: 2%;
    background-color: rgb(165, 236, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    cursor: pointer;
}

.block:hover {
    box-shadow: 2px 2px 4px rgb(17, 81, 100);
}

/* Footer */
footer {
    background-color: black;
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer_content {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}