body {
    margin: 0;
    background-image: url(/images/EFFECT-e1615537303920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */
header {
    background-color: rgb(17, 81, 100);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_content, h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.nav_content:hover {
    color: blueviolet;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    gap: 20px;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(17, 81, 100);
    font-size: 50px;
}

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.logo {
    width: 60%;
    height: 250px;
}

.block {
    width: 30%;
    height: 340px;
    padding: 2%;
    margin-top: 1%;
    background-color: rgb(17, 81, 100);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    cursor: pointer;
}

.block:hover {
    box-shadow: 2px 2px 4px rgb(17, 81, 100);
}

/* Footer */
footer {
    background-color: black;
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer_content {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}